<h2>List of ratings</h2>


<div id="ratings">
  <ul>
  <% @ratings.each do |rating| %>
     <li> <%= render rating %> <%= link_to rating.user.username, rating.user %> </li>
  <% end %>
  </ul>
</div>

<p>
  <%=link_to 'new rating', new_rating_path%>
</p>
