<h2>List of ratings</h2>


<div id="ratings">
  <ul>
  <% @ratings.each do |rating| %>
     <li> <%= render rating %> <%= link_to rating.user.username, rating.user %> </li>
  <% end %>
  </ul>
</div>

<% if @ratings.empty? %>
  <p>No ratings yet</p>
<% else %>
  <p>Total ratings: <%= @ratings.count %></p>
<% end %>

<p>
  <%= link_to("New Rating", new_rating_path) if current_user %>
</p>
